:root{
    --color1: rgb(70, 189, 244);
    --color2: #FBB040;
    --color3: rgb(52, 52, 52);
}
body{
    font-family: 'Nunito';
    margin: 0;
}
section.topbar{
    background-color: var(--color3);
display: flex;
justify-content: space-between;
align-items: center;/*dikeyde ortala*/
padding: 15px;
color:white;
}
section.menubar ul,
section.topbar ul{
    list-style: none; /*noktalar gitti*/
    margin: 0;
    padding:0;/*kenbarlarındaki kontrol dışı  boşlukları kaldırıdk*/
    display: flex;
    gap: 10px;
}

section.topbar ul a{
    color:var(--color2);
    text-decoration: none;
}
section.menubar{
    
display: flex;
justify-content: space-between;
align-items: center;/*değer verilmediğinde struct tir  yani x eksenindedir değiştirince y olur*/
padding: 15px;
position: sticky;
top: 0;
background-color: rgba(255, 255, 255, 0.772);
z-index: 1;
}
section.menubar img{
    width: 300px;
    height: auto;
}
section.menubar ul a{
    text-decoration: none;
    background-color: var(--color2);
    color: var(--color3);
    padding: 5px 10px;
    display: inline-block;
    font-weight: 600;
    border-radius: 5px;
}
section.menubar ul a:hover{
    background-color: var(--color1);
}

section.slider {
    background-image: url(../img/nature.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 350px;
    position: relative; /*h2 nin parentı olduğunu bildiridk*/
}

section.slider h2{
    font-size: 3rem;
    font-weight: 900;
    color: aliceblue;
   
    position:absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 0 0 10px var(--color3);
}
.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 3rem;
    background-color: rgb(20, 209, 20);
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}