nav.main_menu ul {
    list-style-type: none;
 padding: 0;
 margin: 0;


}

nav.main-menu li{
    display: inline-block;
    border-radius: 2;


}
nav.main-menu li a{
    display: inline-block;
    text-decoration: none;
    background-color: aqua;
 padding: 8px 20px;
 color: rgb(19, 13, 5);
}

nav.main-menu li a:hover{
    background-color: darkcyan;
    color: aliceblue;
}