ody{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}
nav.main-menu{
    background-color: rgb(22, 198, 233);
}
.main-menu-ul{
    list-style-type: '🐫';
    list-style-position: inside;
    padding:0;
}
.main-menu-link{
    padding: 5px;
}
.main-menu-link:hover{
    color: white;
    background-color: chocolate;
}

