:root{
    --color1:red;
    --color2:blue;

}
nav.menu{
    text-align: center;
    background-color: var(--color1);


}
nav.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav.menu li{
    display: inline-block;

}
nav.menu li::after{
    content:"|";
    color: var(--color2);

}
nav.menu li:last-child::after{
    content:"►";
}

    nav.menu li:first-child::before{
        content:"◄";
        color: var(--color2)
    }

nav.menu a{
    display: inline-block; /*üsten altan padding alması için yaptık*/
    text-decoration: none;
    padding: 5px 10px ;
    color: aliceblue;

}

