.container{
    display: flex;
    flex-direction:row; /*satır yap*/
    justify-content: space-evenly; /* row  ise yatay olarak aralıklı boşluk yaparak yayar   column ise dikeyde aralıklı boşuklarla yayar*/
align-items:stretch; /*row ise  dikeyde tüm grubu yerleştirii  column ise yatayda tüm grubu yerleştirir */
height: 100vh;
}
.container div{
       width:50px;
       display: flex;                       /*burdan sonraki üç satır içindekileri ortaya almak için */
       justify-content: center;
       align-items: center;
    
}
.container div:nth-child(1){
    background-color: aqua;
}
.container div:nth-child(2){
    background-color:crimson;
}
.container div:nth-child(3){
    background-color: chartreuse;
}
.container div:nth-child(4){
    background-color: blueviolet;
}
.container div:nth-child(5){
    background-color:coral;
}