.bg{
    padding:50px;
    margin-bottom: 20px;
}   
.bg1{
    background-image: linear-gradient(green, blue);
}   
.bg2{
    background-image: linear-gradient(red, yellow, black);
}   
.bg3{
    background-image: linear-gradient(to right, orange, green);
}  
.bg4{
    background-image: linear-gradient(30deg, rgba(144, 102, 208, 0.727), rgb(128, 0, 58));
} 
.bg5{
    background-image: linear-gradient(to right, red 90%, blue);
}
.bg6{
    background-image: radial-gradient(red, blue);
}
.bg7{
    background-image: radial-gradient(circle, red, blue);
}
.bg8{
    background-image: radial-gradient(circle, red 10%, blue);
}