body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}
nav.main-menu{
    background-color: rgb(22, 198, 233);
}
nav.main-menu ul{
    list-style-type: '🐫';
    list-style-position: inside;
    padding:0;
}
nav.main-menu a{
    padding: 10px;
}
nav.main-menu:hover{
    color: white;
    background-color: chocolate;
}

