.cards{
    margin: 5rem auto;
    position: relative;
    text-align: center;
    padding-bottom: 2rem;
}
img{
    height: 300px;
    object-fit: cover;
}
.butonlar{
    position: absolute;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 15rem;
    margin-top: 0.3rem;
}