.header{
    width: 100%;
    margin: 5rem auto;
    text-align: center;
    .content{
        width: 75%;
        margin: auto;
    }
    .butonlar{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
}