body{
    font-family: 'Kanit', sans-serif;
text-align: center;
}

h1{
    background-color: darkseagreen;
    border-radius: 15px;
    padding: 0.5rem;
    font-style: italic;
    text-transform: uppercase;
}
div.icerik{
    background-color: bisque;
   
    border: 5px solid black;
    border-radius: 15px;
    padding: 1rem;
}

img{
    border: 3px solid red;
    border-radius: 15px;
    width: 25%;
}
.icerik a {
    text-decoration: none;
    color: black;

}
h2{
    font-style: italic;
}