@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
    --color1: #22026D;
    --color2: #2C0F5F;
    --color3:#ad210b;
    --color4:#113382;
    --color5: #1B0058;
    --body: white;
    --max-width: 1200px;
  }

 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }
  body{
    font-family: "Roboto";
    font-weight: 300;
    line-height:1.4;

    scroll-behavior: smooth;
  }
  .container{
    max-width: var(--max-width);
    margin: 0 auto;

  }