body{
    background-color: aliceblue;
    padding: 2rem 0;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap:4rem;
    width: 100vw;
    
}
.menu div img{
    width:90%;
}

.menu> div {
    border: 10px solid lightseagreen;
    padding: 2rem;
    width: 30%;
    
}
.menu >div>div{
    display: flex;
    justify-content: space-around;
}
.menu div span {
    font-size: 2rem;
    color: coral;
    font-weight: bold;
}

.menu div a{
    background-color: lightseagreen;
    color: aliceblue;
    text-decoration: none;
    padding: 0.5rem  1rem;
}

section.menu div span:hover,section.menu div a:hover{
    opacity: 0.6;
    cursor: pointer;
}






